type mtk_6620_launcher_exec, exec_type, file_type;
type mtk_6620_launcher, domain, domain_deprecated;

init_daemon_domain(mtk_6620_launcher)

allow mtk_6620_launcher stpwmt_device:chr_file rw_file_perms;
set_prop(mtk_6620_launcher, wmt_prop)
