# audioserver - audio services
allow audioserver audiohal_prop:file r_file_perms;
allow audioserver DW9714AF_device:chr_file { read write open ioctl };
allow audioserver DW9761BAF_device:chr_file { read write open ioctl };
allow audioserver DW9814AF_device:chr_file { read write open ioctl };
allow audioserver DW9714A_device:chr_file { read write open ioctl };
allow audioserver nvram_data_file:file { read write open getattr setattr create };
allow audioserver nvram_data_file:dir { write add_name };
allow audioserver ccci_device:chr_file { read write open ioctl };
allow audioserver sysfs:file { read open };
allow audioserver rootfs:lnk_file { getattr };
allow audioserver property_socket:sock_file { write };
allow audioserver init:unix_stream_socket { connectto };
allow audioserver nvdata_file:dir search;
allow audioserver nvdata_file:file getattr;
allow audioserver platformblk_device:dir search;
allow audioserver nvdata_file:lnk_file r_file_perms;

# boot_mode 
allow audioserver sysfs_boot_mode:file r_file_perms; 
